extends layout

block header
  link(rel='stylesheet', href='/css/chart.css')
  

block content
  h1 Chart
  p.lead Select a chart to display
  hr
  div#chart-container
	
block scripts
  script(src='https://code.highcharts.com/stock/highstock.js')
  script(src='https://code.highcharts.com/stock/modules/exporting.js')
  script(src='/js/chart.js')